*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    color: #3e3841;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: white;
    background-image: linear-gradient(
            180deg,
            rgba(84, 74, 125, 0.4),
            rgba(255, 212, 82, 0.7)
    ),
    url(https://bu.dusays.com/2022/04/05/85c7861d3306e.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-weight: normal;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-size: 1.5rem;
}

#description {
    font-size: 0.7rem;
}

.container {
    width: 100%;
    margin: 4rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

#title {
    text-align: center;
}

#description {
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(62, 56, 20, 0.5);
    text-align: center;
}

form {
    background: rgba(93, 49, 49, 0.7);
    border-radius: 0.6rem;
    padding: 25px;
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

.form-block {
    margin: 0 auto 1.5rem auto;
    padding: 0.4rem;
}

.box {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    ckground-color: #fbecde;
    background-clip: padding-box;
    border: 2px solid #b5aa90;
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box:focus {
//border-color: #f6cec1;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 123, 255, 0.1);
}

.btn {
    perspective: 1000px;
    padding: 1em 1em;
    background: linear-gradient(#853916, #6b3019);
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 10px 10px #000;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.btn::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: #6b3019;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.btn::after {
    content: "";
    width: 15px;
    height: 100%;
    background-color: #853916;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(-90deg);
    transform-origin: right;
}

.btn:hover {
    transform: rotateX(30deg) rotateZ(0);
}